body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#111;
color:#fff;
text-align:center;
}

.nav a.active {
color:#ffffff;
font-weight:bold;
border-bottom:2px solid #00ffaa;
}

.container{
max-width:1000px;
margin:auto;
padding:40px 20px;
}

.logo{
width:220px;
margin-bottom:20px;
}

input {
padding:10px;
font-size:16px;
border-radius:6px;
border:1px solid #ccc;
width:200px;
text-align:center;
}

h1{
font-size:36px;
margin-bottom:10px;
}

.versionlist{
list-style:none;
padding:0;
margin-top:10px;
}

/* version year links */

.versionlist{
columns:3;
list-style:none;
padding:0;
margin-top:10px;
}

.versionlist li{
margin:5px 0;
}

.versionlist a{
color:#14e29a;
text-decoration:none;
font-weight:500;
}

.versionlist a:hover{
color:#1fffb4;
text-decoration:underline;
}

.versionlist a:visited{
color:#14e29a;
}

.sharebox{
margin-top:20px;
}

/* Share buttons */

.sharebtn{
display:inline-block;
margin:6px;
padding:10px 16px;
background:#14e29a;
color:#000;
border-radius:6px;
text-decoration:none;
font-weight:600;
font-size:14px;
transition:0.2s;
}

/* hover */

.sharebtn:hover{
background:#0fd18e;
color:#000;
}

/* remove browser default blue */

.sharebtn:visited{
color:#000;
}

.sharebtn:active{
color:#000;
}

.tagline{
color:#ccc;
margin-bottom:30px;
font-size:18px;
}

.button{
display:block;
background:#00ff9c;
color:#000;
text-decoration:none;
padding:16px;
margin:12px auto;
max-width:300px;
font-weight:bold;
border-radius:6px;
transition:0.2s;
}

.button:hover{
background:#00d884;
}

.section{
margin-top:60px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
margin-top:30px;
align-items:start;
}

.product{
background:#1a1a1a;
padding:20px;
border-radius:8px;
transition:0.2s;
display:flex;
flex-direction:column;
align-items:center;
}

.product:hover{
transform:translateY(-5px);
box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

.product img{
display:block;
width:100%;
height:auto;
max-width:100%;
border-radius:6px;
object-fit:contain;
background:#fff;
}

.product-title{
margin-top:12px;
font-weight:bold;
}

.small-button{
display:inline-block;
margin-top:10px;
padding:10px 16px;
background:#00ff9c;
color:black;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}

.small-button:hover{
background:#00d884;
}

.nav{
margin-bottom:30px;
}

.nav a{
color:#00ff9c;
margin:0 12px;
text-decoration:none;
font-weight:bold;
}

.nav a:hover{
text-decoration:underline;
}

.footer{
margin-top:60px;
font-size:14px;
color:#888;
}
